* * * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_nytimes' 'http://www.nytimes.com' 'story'

0 6 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'de_spiegel' 'http://www.spiegel.de' 'headline'
0 6 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'de_faz' 'http://www.faz.net' 'Headline'
0 6 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'de_sueddeutsche' 'http://www.sueddeutsche.de' 'entry-title'
0 6 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'de_bild' 'http://www.bild.de' 'headline'
0 6 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'de_ard' 'http://www.ard.de' 'headline'

0 6 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'fr_lemonde' 'http://www.lemonde.fr' 'titre_une'
0 6 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'fr_lefigaro' 'http://www.lefigaro.fr' 'fig-profil-headline'
0 6 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'leparisien_url' 'http://www.leparisien.fr' 'article__title'

0 8 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'gb_bbc' 'http://www.bbc.com' 'media__title'
0 8 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'gb_guardian' 'http://www.theguardian.com/uk' 'fc-item__header'
0 8 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'gb_guardian_intl' 'http://www.theguardian.com/international' 'fc-item__header'
0 8 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'gb_dailymail' 'http://www.dailymail.co.uk/home/index.html' 'article'
0 8 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'gb_sun' 'https://www.thesun.co.uk' 'teaser__headline'

0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_nytimes' 'http://www.nytimes.com' 'story'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_nytimes_intl' 'http://international.nytimes.com' 'story'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_cnn' 'http://us.cnn.com' 'cd__headline'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_cnn_intl' 'http://edition.cnn.com/' 'cd__headline'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_usatoday' 'http://www.usatoday.com' 'js-asset-headline'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_bostonglobe' 'https://www.bostonglobe.com' 'story-title'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_theskimm' 'http://www.theskimm.com/recent' 'skimm-h1'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_npr' 'http://www.npr.org' 'story-text'

0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'ca_globeandmail' 'http://www.theglobeandmail.com' 'articleTitle'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'ca_cbc' 'http://www.cbc.ca/news' 'topstory'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'ca_torontostar' 'https://www.thestar.com' 'story__headline'
0 12 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py'ca_lapresse' 'http://www.lapresse.ca' 'moreNews'

0 13 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_chicagotribune' 'http://www.chicagotribune.com' 'trb_outfit_primaryItem_article_title'
0 13 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_startribune' 'http://www.startribune.com' 'tease-headline'
0 13 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_cleveland' 'http://www.cleveland.com' 'fullheadline'

0 15 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py'us_latimes' 'http://www.latimes.com' 'trb_outfit_primaryItem_article_title'
0 15 * * * python3 /home/pi/headline-scraping-scripts/scrape_site.py 'us_nationalenquirer' 'http://www.nationalenquirer.com' 'postInLine'
